.category-bar {
    width: 100%;
    padding: 1rem ;
    background-color: white;
}

.category-container {
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.category-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 1.25rem;
    background-color: #f8f9fa;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
    color: #2c3e50;
}

.category-button:hover {
    background-color: #f1f3f5;
    border-color: #007bff;
    transform: translateY(-2px);
}

.category-icon {
    font-size: 1.2rem;
}

.category-name {
    font-size: 0.9rem;
    font-weight: 500;
}

@media (max-width: 768px) {
    .category-bar {
      width: 100%;
      padding: 0.5rem 0;
      overflow-x: auto;
    }
    
    .category-container {
        padding: 0 1rem; 
        justify-content: space-between;
        gap: 0.5rem; 
        width: 100%;
        }
  
    .category-button {
        white-space: nowrap;
        flex: 1; 
        padding: 0.75rem 0.5rem; 
        min-width: min-content;
    }
    
    .category-name {
        font-size: 0.8rem;
    }
}